<!doctype html>
<html>
<head>
    <title>Gizworks</title>
    {{#if showTests}}
        <link rel='stylesheet' href='/vendor/mocha.css'>
    {{/if}}
    <script src='//code.jquery.com/jquery-2.1.1.min.js'></script>
</head>
<body style='background-image:url("http://images8.alphacoders.com/370/370799.jpg")'>
    <script>
        $(function(){

        });

        function scrollToSection(selector, time) {
            $('html, body').animate({ scrollTop: $(selector).offset().top }, time);
        }
    </script>
    <div style='background:white'>
        <img src="/img/logo.png" alt="Gizworks Logo" height=100>
        <nav>
            <ul>
                <li><a data-target='home' onclick='scrollToSection("#home",700)'>Home</a></li>
                <li><a data-target='about' onclick='scrollToSection("#about",700)'>About</a></li>
            </ul>
        </nav>
        <table>
            <tr>
                <td><a href='/'>Home</a></td>
                <td><a href='/about'>About</a></td>
                <td><a href='/gallery'>Gallery</a></td>
                <td><a href='/order'>Order</a></td>
                <td><a href='/contact'>Contact</a></td>
            </tr>
        </table>
    </div>
    <div style='background:white'>
        {{{body}}}
    </div>
    <div style='height:1000px; background:gray;'></div>
    <div id='about' style='background:white'>About?</div>
    {{#if showTests}}
        <div id='mocha'></div>
        <script src='/vendor/mocha.js'></script>
        <script src='/vendor/chai.js'></script>
        <script>
            mocha.ui('tdd');
            var assert = chai.assert;
        </script>
        <script src='/qa/tests-global.js'></script>
        {{#if pageTestScript}}
            <script src='{{pageTestScript}}'></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}
</body>
</html>
