<style>
    span.project {
        display: inline-block;
        height: 50px;
        width: 50px;
    }
</style>

<h1>Gallery</h1>

<div>
    {{#each projects}}
        <a href='{{url}}'>
            <span class='project' style='border: 4px solid {{color}}'>
                {{name}}
            </span>
        </a>
    {{/each}}
</div>
